.header{
    height: 95vh;
    background-image: linear-gradient(to right bottom,rgba($color-primary-light,.8),rgba($color-primary-dark,.8)),url('../../img/forest.jpeg');
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0,100% 0,100% 75vh,0 100%);
    position: relative;

    .logo-box{
        position: absolute;
        top: 40px;
        left: 40px;
        
        .logo{
            height: 30px;
        }
        
    }

    .header-box{
        position: absolute;
        top:40%;
        left:50%;
        transform: translate(-50%,-50%);
        text-align: center;
        .heading{
            color:#fff;
            text-transform: uppercase;
            backface-visibility: hidden;
            margin-bottom: 60px;
            .heading-main{
                display: block;
                font-size: 65px;
                font-weight: 400;
                letter-spacing: 90px;
            
                animation-name: moveInLeft;
                animation-duration: 1s;
            
                /*
                    animation-delay: 3s;
                */
            
                /* 
                    animation functions 
                    animation-timing-function: ease-in;
                */
                
            }
            
            .heading-sub{
                display: block;
                font-size: 20px;
                font-weight: 700;
                letter-spacing: 10px;
            
                animation: moveInRight 1s ease-in;
                /* animation-name: moveInRight;
                animation-duration: 1s; */
            }
        }

        .btn-white{
            background: $color-white;
            color:$color-grey-dark;
        }

    }
}


/* all media queries */
@media screen and (max-width: 925px) {

    .header-box{
        position: absolute;
        top:40%;
        left:50%;
        transform: translate(-50%,-50%);
    } 

    .heading-main{
        display: block;
        font-size: 45px;
        font-weight: 400;
        letter-spacing: 40px;
    }
    
    .heading-sub{
        display: block;
        font-size: 10px;
        font-weight: 700;
        letter-spacing: 6px;
    }

}